<h1> Hello there! {{ user.username }}</h1>

<ul>
  {{#each chapter_links}}
    {{#if this.available }}
  <li><a href="/{{this.name}}/">{{this.name}}</a></li>
    {{else}}
  <li>{{this.name}}</li>
    {{/if}}
  {{/each}}
</ul>
