<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wetty - {{ chapter_name }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="/{{ chapter_name }}/chat.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/{{ chapter_name }}/wetty/hterm_all.js"></script>
    <script src="/{{ chapter_name }}/wetty/socket.io/socket.io.js"></script>
    <script src="/{{ chapter_name }}/wetty/wetty.js"></script>
    <script src="/{{ chapter_name }}/learn.js"></script>
    <style>
        html,
        body {
          height: 100%;
          width: 100%;
          margin: 0px;
        }
        .status {
          height: 300px;
          width: 100%;
          background-color: grey;
          color: red;
        }
        #terminal {
          display: block;
          position: relative;
          height: 100vh;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        }
        .container {
          height: 100vh;
        }
        .info{
          padding: 10px;
        }
        code {
          background-color: #e0e0e0;
        }
    </style>
</head>
<body>

    {{{body}}}

</body>
</html>
